.toc {
  // Scrolling
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  // Aestetics
  font-size: 0.85em;
  ol,
  ul {
    list-style: none;
    padding-left: 20px;
    line-height: 1.5em;
  }

  // TODO: Move this out of the layout page, but for now
  // these elements dont exist
  li {
    a {
      text-decoration: none;
    }
    a.active {
      color: $active_color;
    }
    a:hover {
      // Override the black on the title when hovering
      color: $active_color !important;
      transition: none;
    }
  }
}

.smalltoc li a {
  transition: color 0.2s ease-out;
}

.bigtoc > h1 {
  padding-left: 20px;
}

// TODO: Weird flex if page not full
// trpl/ch06-00-enums.html

/* 
   * Layout
   * https://www.joshwcomeau.com/css/full-bleed/
   *
   *
   * +------+-------------------------------+------+
   * |      |                               |      |
   * |      |                               |      |
   * |      |                               |      |
   * |      |                               |      |
   * |      |                               |      |
   * | LTOC |    Main content               | RTOC |
   * |      |                               |      |
   * |      |                               |      |
   * |      |                               |      |
   * |      |                               |      |
   * |      |                               |      |
   * +------+-------------------------------+------+
   *         \                             /
   *          \                           /
   *           +-----+-------------+-----+
   *           |     |             |     |
   *           |     |             |     |
   *           |     |             |     |
   *           |     |             |     |
   *           |Full |             |Full |
   *           |blead| Text        |blead|
   *           |for  |             |for  |
   *           |code |             |code |
   *           |     |             |     |
   *           |     |             |     |
   *           +-----+-------------+-----+
   * 
   *
   */
.wrapper {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 2em)) 1fr;
  column-gap: 1em;
}

.bigtoc {
  grid-column: 1;
}

.content {
  // TODO: Seperate padding stuff and grid stuff
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr min(60ch, 100%) 1fr;
  grid-column: 2;
  row-gap: 19px;
  > * {
    grid-column: 2;
    // https://www.joshwcomeau.com/css/rules-of-margin-collapse/#flow-layout-only
    margin: 0;
  }

  > .sourceCode,
  > pre {
    grid-column: 1/4;
  }
}

.smalltoc {
  grid-column: 3;
}
