/* This Source Code Form is subject to the terms of the Mozilla Public License,
v. 2.0. If a copy of the MPL was not distributed with this file, You can
obtain one at http://mozilla.org/MPL/2.0/. */

// TODO: Review colors
$text_color: #1a1a1a;
$heading_color: #000;
$pre_backgroud: #eee;
$active_color: #e69f;

// @import "highlight.scss";
// TODO: Ninja doesnt recodnize the dep
@import "layout.scss";

body {
  color: $text_color;
  font-size: 19px;

  font-family: "Spectral", Georgia, "Times New Roman", Times, serif;
  line-height: 140%;
  margin: 0;
  font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.smalltoc > ul > li:first-of-type > a {
  font-family: "Averia Serif Libre", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: $heading_color;
}

.content .autolink:link,
.content .autolink:visited {
  text-decoration: none;
}

code,
pre {
  background: $pre_backgroud;
}

code {
  padding: 2px 4px;
  font-family: monospace;
}

pre {
  padding: 1em;
  border-left: $text_color 2px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-x: auto;
  font-size: 85%;
}

blockquote {
  border-left: 2px dotted $heading_color;
  margin: 0;
  padding: 0 0 0 20px;
  font-family: "Zilla Slab";
}

a {
  color: #1a1a1a;
  text-decoration: underline;
}

img {
  max-width: 100%;
}
/* 
td > p {
  margin: 0;
} */

/* https://css-tricks.com/table-borders-inside/ */
table {
  border-collapse: collapse;
  border-style: hidden;

  td,
  th {
    border: 1px solid $text_color;
    padding: 3px 1ch;
  }
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 140%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 120%;
}
h5 {
  font-size: 110%;
}
h6 {
  font-size: 100%;
}

// This is some epic hacks, so only padding is only applyed 2 layers into the RTOC,
// Because the html looks like
/*
<div class="toc smalltoc">
  <ul>
      <li>
        <a>Programming a Guessing Game</a>      <-- This is stiles as a header elsewhere
        <ul>
            <li><a>Setting Up a New Project</a></li>      <-- This can be not indented, as it's the real start
            <li><a>Processing a Guess</a>
              <ul>
                  <li><a>Storing Values with Variables</a></li>      <-- This gets indented
                  <li><a>Handling Potential Failure with the <code>Result</code> Type</a></li>
                  <li><a>Printing Values with <code>println!</code> Placeholders</a></li>
                  <li><a>Testing the First Part</a></li>
              </ul>
            </li>
        </ul>
      </li>
  </ul>
</div>
*/
.smalltoc > ul > li > ul,
.smalltoc > ul {
  padding-left: 0px;
}
